body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.config-label {
    font-size: 12px;
    font-family: 'Segoe UI','Tahoma','Arial','Verdana';
    line-height: 14px;
    margin: 18px 10px 0 0;
    min-width: 75px;
    padding: 4px 0 2px 0;
    color: #424245;
    display: inline-block;
    vertical-align: top;
    width: 110px;
}


.settings-field {
    width: 256px;
    margin: 20px 0 10px 0;
}


#tableboard {
    text-align: center;
    width: 100%;
    font-size: 22px;
}

.theader {
    background-color: #F2F2F2;
    height: 28px;
    font-size: 13px;
}

th {
    font-weight: normal;
}

.swim {
    height: 28px;
    background-color: #d8e4ec;
    text-align: left;
    padding-left: 10px;
    color: #000;
    font-size: 13px;
}

table, td, th {
    border: 1px solid grey;
}

tr {
    height: 42px;
}

.trswim {
    height: 28px;
}

.title-header {
    color: #fff;
    padding: 3px 3px 3px 10px;
    font-size: 13px;
    margin: 0 0 10px 0;
    font-weight: normal;
    margin-bottom: 5px;
}

.defaultcontent {
    top: 55%;
}

.widget-message-text {
    text-align: center;
    font-size: 18px;
    color: grey;
}

.tableHeaderColName-left {
    display: inline;
    margin: 5px;
    color: #000;
}

.tableHeaderWiLimit-right {
    display: inline;
    padding: 2px 0px 2px 2px;
    margin: 5px 0px 5px 5px;
    font-size: 12px;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 18px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }